{% extends 'index.html'%}
<div id="subu"style="padding: 20px; background: #fafafa;font-size:15px;">
    <h3>Hello </h3> <br>
    <p>
    Check your email
    We’ve sent a message to  with a link to activate your account.

    If you don’t see an email from us within a few minutes, a few things could have happened:

    The email is in your spam folder. (Sometimes things get lost in there.)
    The email address you entered had a mistake or typo. (Happens to the best of us.)
    You accidentally gave us another email address. (Usually a work or personal one instead of the one you meant.)
    We can’t deliver the email to this address. (Usually because of corporate firewalls or filtering.)
    Re-enter your email and try again
    </p>

    <p>
        Note:<br>
        This is notification only email. Please do not reply on this email.<br>
        You can contact us here</a>.
    </p>
</div>